{% extends "layouts/full-width.twig" %}

{% block content %}
    {% embed "partials/page-header.twig" with {'icon': 'far fa-calendar-alt'} %}
        {% block title %}{{ post.post_title }}{% endblock %}
        {% block right %}
            {% include "partials/button.twig" with {
                'text': 'Terug naar agenda',
                'icon': 'far fa-calendar-alt',
                'url': agendaUrl
            } %}
        {% endblock %}
    {% endembed %}
    {% embed "partials/card.twig" %}
        {% block content %}
            <div class="float-end ms-3 mb-2">
                <div class="dropdown d-inline-block">
                    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="far fa-calendar-alt"></i>
                        <span class="ms-2 d-inline">Aan kalender toevoegen</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="{{ calendar.google }}" target="_blank"><i class="fa-brands fa-google text-muted me-2"></i> Google</a></li>
                        <li><a class="dropdown-item" href="{{ calendar.office365 }}" target="_blank"><i class="fa-brands fa-microsoft text-muted me-2"></i> Office 365</a></li>
                        <li><a class="dropdown-item" href="{{ calendar.outlook }}" target="_blank"><i class="fa-brands fa-microsoft text-muted me-2"></i> Outlook</a></li>
                        <li><a class="dropdown-item" href="{{ calendar.ics }}" download="{{ post.post_title|sanitizeTitle }}.ics"><i class="far fa-calendar-alt text-muted me-2"></i> iCal / .ics</a></li>
                    </ul>
                </div>
                {% if post.post_author == current_user.ID or function('current_user_can', 'edit_others_posts') %}
                    {% include "partials/button.twig" with {
                        'text': 'Bewerken',
                        'icon': 'fas fa-pencil-alt',
                        'url': function('get_edit_post_link'),
                        'classes': 'btn-sm ms-1'
                    } %}
                {% endif %}
            </div>
            <div class="d-flex flex-row align-items-center mb-2">
                <h1 class="fw-bold title title-large me-2">{{ localDate('j', post.start) }}</h1>
                <div>
                    <b>{{ localDate('F', post.start) }}</b><br>
                    {{ localDate("l", post.start) }}
                </div>
            </div>
            <hr>
            <p><strong><i class="far fa-clock fa-fw"></i> {{ localDate("H:i", post.start) ~ ' - ' ~ localDate("H:i", post.end)}}</strong><br>
            <span class="text-muted">{{ post.meta('type') }}</span></p>
            {{ post.content }}
        {% endblock %}
        {% block footer %}
            <div class="d-flex justify-content-between align-items-center mt-2">
                <div>
                    <img src="{{ post.authorImage }}" class="thumbnail" />
                    <span class="text-muted ms-2">
                        Organisator: {{ post.authorLink }}
                    </span>
                </div>
                <div class="text-muted small">
                    <span class="d-none d-sm-inline">{{ post.isoDate|timeDiff }}</span>
                    <span class="d-sm-none">{{ post.isoDate|timeDiffShort }}</span>
                    aangepast
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}