{% extends "layouts/full-width.twig" %}

{% block content %}
    {% embed "partials/page-header.twig" with {'icon': 'fas fa-home'} %}
        {% block title %}{{ title }}{% endblock %}
        {% block right %}
            {% include "partials/button.twig" with {
                'text': 'Overzicht',
                'icon': 'fas fa-list',
                'url': site.url ~ '/huizen'
            } %}
        {% endblock %}
    {% endembed %}
    {% embed "partials/card.twig" %}
        {% block content %}
            <ul class="list-group">
                {% for house in houses %}
                    <li class="list-group-item">
                        <div class="d-flex justify-content-between mb-3 align-items-center">
                            <div>
                                <h5 class="font-weight-bold"><a class="text-body" href="{{ house.link }}">{{ house.post_title }}</a></h5>
                                <div>
                                    {% for resident in house.residents %}
                                        <a href="{{ resident.url }}" class="no-underline">
                                            <img class="thumbnail mb-1" src="{{ resident.thumbnail }}" alt="" data-toggle="tooltip" data-placement="top" title="{{ resident.first_name }}" />
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                            <a href="{{ house.link }}" class="btn btn-primary text-nowrap">Bekijk<span class="d-none d-sm-inline"> huis</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endblock %}
    {% endembed %}
{% endblock %}