{% extends "layouts/full-width.twig" %}

{% block content %}
    {% embed "partials/page-header.twig" with {'icon': 'far fa-user'} %}
        {% block title %}Profiel{% endblock %}
        {% block right %}
            {% include "partials/button.twig" with {
                'text': 'Bekijk profiel',
                'icon': 'far fa-user',
                'url': userLink
            } %}
        {% endblock %}
    {% endembed %}

    {# Form handled in React, see assets/js/profile.js #}   
    <div id="react-root" class="row"
        data-email="{{ current_user.user_email }}" 
        data-phone="{{ userField('resident_phone', current_user) }}"
        data-photo="{{ userImage }}"
        data-ajax-url="{{ function('admin_url', 'admin-ajax.php') }}"
        data-nonce="{{ function('wp_create_nonce', 'save_profile-' ~ current_user.ID) }}"
        data-upload-max-filesize={{ function('ini_get', 'upload_max_filesize') }}
        data-profile-link={{ function('admin_url', 'profile.php') }}>
    </div>
    
{% endblock %}