{% extends "layouts/full-width.twig" %}

{% block content %}
    {% embed "partials/page-header.twig" with {'icon': 'far fa-calendar-alt'} %}
        {% block title %}{{ post.post_title }}{% endblock %}
        {% block right %}
            {% include "partials/button.twig" with {
                'text': 'Terug naar agenda',
                'icon': 'far fa-calendar-alt',
                'url': agendaUrl
            } %}
        {% endblock %}
    {% endembed %}
    {% embed "partials/card.twig" %}
        {% block content %}
            {% if post.post_author == current_user.ID or function('current_user_can', 'edit_others_posts') %}
                <div class="float-right ml-3 mb-2">
                    {% include "partials/button.twig" with {
                        'text': 'Bewerken',
                        'icon': 'fas fa-pencil-alt',
                        'url': function('get_edit_post_link'),
                        'classes': 'btn-sm'
                    } %}
                </div>
            {% endif %}
            <div class="d-flex flex-row align-items-center mb-2">
                <h1 class="font-weight-bold title title-large mr-2">{{ localDate('j', post.start) }}</h1>
                <div>
                    <b>{{ localDate('F', post.start) }}</b><br>
                    {{ localDate("l", post.start) }}
                </div>
            </div>
            <hr>
            <p><strong><i class="far fa-clock fa-fw"></i> {{ localDate("H:i", post.start) ~ ' - ' ~ localDate("H:i", post.end)}}</strong><br>
            <span class="text-muted">{{ post.meta('type') }}</span></p>
            {{ post.content }}
        {% endblock %}
        {% block footer %}
            <div class="d-flex justify-content-between align-items-center mt-2">
                <div>
                    <img src="{{ post.authorImage }}" class="thumbnail" />
                    <span class="text-muted ml-2">
                        Organisator: {{ post.authorLink }}
                    </span>
                </div>
                <div class="text-muted small">
                    <span class="d-none d-sm-inline">{{ post.isoDate|timeDiff }}</span>
                    <span class="d-sm-none">{{ post.isoDate|timeDiffShort }}</span>
                    aangepast
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}